.page {
  width: 1100px;
  box-sizing: border-box;
  background-color: antiquewhite;
  display: block;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  gap: 13px;
  background-color: aqua;
  margin: 0;
  padding: 90px 50px;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.header__menu {
  display: flex;
  flex-direction: column;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-underline-offset: 3px;
  text-transform: lowercase;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
 text-decoration: none;
}

.header__logo {
  display: inline-block;
  min-height: 100px;
}

.header__logo-image {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

.adress {
  display: flex;
  flex-direction: column;
}

.header__adress {  
  justify-self: end;
}

.adress__list {
  list-style: none;
  text-underline-offset: 3px;
}

.adress__list-item {
  overflow-wrap: break-word;
}

.main {
  /*не назначать ни чего кроме цвета и границ*/
  background-color: violet;
  box-sizing: border-box;
}

.cover {
  display: flex;
  flex-direction: column;
  background-color: tan;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: auto;
  min-height: 757px;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.overlay {
  background-color: #000000;
  opacity: .6;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 165px 50px 50px;
  color: #FFFFFF;
  z-index: 2;
}

.aligned-text {
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.letter-spacing-extended {

}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 100px 0 0;
  padding: 0 50px;
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 0.9ch;
  text-transform: uppercase;
  z-index: 2;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 22px;
  text-align: center;
  line-height: 28px;
  word-spacing: 0.9ch;
  text-transform: uppercase;
  padding: 10px 30px;
}

.lots {
  background-color: aquamarine;
  margin: 180px 24px 0;
  padding: 0;
}

/*.about {
  background-color: yellowgreen;
  margin: 120px 24px 180px;
  padding: 0;
}

.footer {
  background-color: thistle;
  margin: 0;
  padding: 0;
}